/* .Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    background-color: #fff;
    height: 50px;
} */

/* .Navbar nav *{
    margin: 5px;
} */

/* .Navbar a{
    text-decoration: none;
    color: #939393;
} */

.navbar{
    height: 100px;
    min-height: 100px;
}

.Logo{
    width: 250px;
}

.navbarButton{
    background-color: #ffe000;
    border: none;
    color: #0a0e11;
    border: 2px solid #ffe000;
    border-radius: 7.5px;
    padding: 5px 15px;
    cursor: pointer;
    font-family: 'Orbitron';
    font-weight: 800;
}

.menu-horizontal *{
    padding: 0 5px;
}

