.App{
    /* border: 1px red solid; */
    height: 100vh;
    /* z-index: 1; */
    background-color: #f5f5f5;
}

.header{
    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 3.5rem;
    color: #0a0e11;
}